
@charset "utf-8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #272727;
}
header {
    background-image: linear-gradient(to right bottom, #39383b, #2e2c2e, #232121, #171616, #1b1a1a, #1e1d1e, #212122, #343537, #484b4d );
    width: 100%;
}
header h1{
    text-align: center;
    color: whitesmoke;
    padding: 50px;
}

.titulo {
    margin-top: auto;
    text-shadow: 2px 2px 5px #0aff01;
    font-size: 33px;
}


.borda {
    border: #F00;
}

.tabPreto {
    background: #03C;
}


/* TABULEIRO*/

#tabuleiro {
    width: 577px;
    height: 577px;
    border: #000 solid 1px;
    margin: auto;
}

#tabuleiro div {
    width: 70px;
    height: 70px;
    float: left;
    margin: 1px;
    font-size: 48px;
    text-align: center;
}

#t11,
#t13,
#t15,
#t17,
#t22,
#t24,
#t26,
#t28,
#t31,
#t33,
#t35,
#t37,
#t42,
#t44,
#t46,
#t48,
#t51,
#t53,
#t55,
#t57,
#t62,
#t64,
#t66,
#t68,
#t71,
#t73,
#t75,
#t77,
#t82,
#t84,
#t86,
#t88 {
    background-color: #FFF;
}

#t12,
#t14,
#t16,
#t18,
#t21,
#t23,
#t25,
#t27,
#t32,
#t34,
#t36,
#t38,
#t41,
#t43,
#t45,
#t47,
#t52,
#t54,
#t56,
#t58,
#t61,
#t63,
#t65,
#t67,
#t72,
#t74,
#t76,
#t78,
#t81,
#t83,
#t85,
#t87 {
    background-color: #0aff01;
}

div {
    cursor: pointer;
}

#fundo {
    background: #260C1A;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    opacity: 0.50;
    -moz-opacity: 0.50;
    filter: alpha(opacity=50);
}

.escolhe {
    position: fixed;
    top: 20%;
    left: 40%;
    display: none;
    z-index: 1000;
    background: #FFF;
    border: #000 solid 1px;
}

.escolhe div {
    width: 70px;
    height: 70px;
    float: left;
    margin: 1px;
    font-size: 48px;
    text-align: center;
    float: left;
    margin: 5px;
}

#escolhecor-inicio {
    display: block;
    left: 45%;
}


footer{
    background-image: linear-gradient(to right bottom, #39383b, #2e2c2e, #232121, #171616, #1b1a1a, #1e1d1e, #212122, #343537, #484b4d );
    width: 100%;
    margin-top: auto;
    height: 5rem;
    
}
footer h3{
    padding-top: 1rem;
}

.footer-col{
    display: inline-block;
    margin-left:120px;
}
h4{
    color: white;
}

h3{
    text-align: center;
    color: white;
    margin-top: 50px;
}

a{
    color: white;
}

.xadrez{
    margin-top: 100px;
    margin-bottom: 100px;
}